In [19]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [20]:
#import 2014 csv
df_2014 = pd.read_csv("Resources/college_2014.csv")

#add year to 2014
year = 2014

df_2014['year'] = year

In [21]:
#import 2015 csv
df_2015 = pd.read_csv("Resources/college_2015.csv")

#add year to 2015
year = 2015

df_2015['year'] = year

In [22]:
merged_2014_2015 = pd.concat([df_2014, df_2015], ignore_index=True)

In [23]:
#import 2016 data
df_2016 = pd.read_csv("Resources/college_2016.csv")

#add year to 2016
year = 2016

df_2016['year'] = year

In [24]:
#import 2017 data
df_2017 = pd.read_csv("Resources/college_2017.csv")

#add year to 2017
year = 2017

df_2017['year'] = year

In [25]:
#merge 2016 and 2017 data
merged_2016_2017 = pd.concat([df_2016, df_2017], ignore_index=True)

In [26]:
#merge 2014-2017 data
merged_2014_2017 = pd.concat([merged_2014_2015, merged_2016_2017], ignore_index=True)

In [27]:
#import 2018 data
df_2018 = pd.read_csv("Resources/college_2018.csv")

#add year to 2018
year = 2018

df_2018['year'] = year

In [28]:
#import 2019 data
df_2019 = pd.read_csv("Resources/college_2019.csv")

#add year to 2019
year = 2019

df_2019['year'] = year

In [29]:
#import 2020 data
df_2020 = pd.read_csv("Resources/college_2020.csv")

#add year to 2020
year = 2020

df_2020['year'] = year

In [30]:
#import 2021 data
df_2021 = pd.read_csv("Resources/college_2021.csv")

#add year to 2021
year = 2021

df_2021['year'] = year

In [31]:
#merge 2018 and 2019 data
merged_2018_2019 = pd.concat([df_2018, df_2019], ignore_index=True)

#merge 2020 and 2021 data
merged_2020_2021 = pd.concat([df_2020, df_2021], ignore_index=True)

#merge 2018 through 2021
merged_2018_2021 = pd.concat([merged_2018_2019, merged_2020_2021], ignore_index=True)

In [32]:
#import 2022 data
df_2022 = pd.read_csv("Resources/college_2022.csv")

#add year to 2022
year = 2022

df_2022['year'] = year

In [33]:
#import 2023 data
df_2023 = pd.read_csv("Resources/college_2023.csv")

#add year to 2023
year = 2023

df_2023['year'] = year

In [34]:
#import 2024 data
df_2024 = pd.read_csv("Resources/college_2024.csv")

#add year to 2024
year = 2024

df_2024['year'] = year

In [36]:
#merge 2022 and 2023 data
merged_2022_2023 = pd.concat([df_2022, df_2023], ignore_index=True)

#merge 2022 through 2024 data
merged_2022_2024 = pd.concat([merged_2022_2023, df_2024], ignore_index=True)

In [43]:
#Merge all years 2014-2024

merged_2014_2021 = pd.concat([merged_2014_2017, merged_2018_2021], ignore_index=True)

all_years_df = pd.concat([merged_2014_2021, merged_2022_2024], ignore_index=True)

all_years_df

,player,player_id,position,team_name,player_game_count,batted_passes,declined_penalties,franchise_id,grades_pass_rush_defense,hits,...,true_pass_set_pass_rush_opp,true_pass_set_pass_rush_percent,true_pass_set_pass_rush_win_rate,true_pass_set_pass_rush_wins,true_pass_set_prp,true_pass_set_sacks,true_pass_set_snap_counts_pass_play,true_pass_set_snap_counts_pass_rush,true_pass_set_total_pressures,year
40224,Etu Finau,197860,ED,S JOSE ST,3,0,0,285,52.6,0,...,6,100.0,0.0,0,0.0,0,6,6,0,2024
40225,Na'Tori Brown,197863,ED,LA LAFAYET,1,0,0,207,60.0,0,...,0,NaN,NaN,0,NaN,0,0,0,0,2024
40226,Ashton Wright,197865,DI,LA LAFAYET,3,0,0,207,56.7,0,...,2,100.0,0.0,0,0.0,0,2,2,0,2024
40227,Jaylin Reese,197882,ED,AIR FORCE,2,0,0,101,63.3,0,...,5,100.0,0.0,0,20.0,1,5,5,1,2024
40228,Jace J Gilbert,197912,DI,IOWA STATE,1,0,0,193,60.0,0,...,0,NaN,NaN,0,NaN,0,0,0,0,2024

In [47]:
cleaned_years = all_years_df.loc[all_years_df['position'].isin(['ED', 'LB'])]
cleaned_years.head()

,player,player_id,position,team_name,player_game_count,batted_passes,declined_penalties,franchise_id,grades_pass_rush_defense,hits,...,true_pass_set_pass_rush_opp,true_pass_set_pass_rush_percent,true_pass_set_pass_rush_win_rate,true_pass_set_pass_rush_wins,true_pass_set_prp,true_pass_set_sacks,true_pass_set_snap_counts_pass_play,true_pass_set_snap_counts_pass_rush,true_pass_set_total_pressures,year
0,Dante Fowler Jr.,9436,ED,FLORIDA,12,2,0,163,81.9,11,...,121,90.0,28.9,35,18.2,9,140,126,35,2014
2,Vic Beasley Jr.,9441,ED,CLEMSON,13,2,1,140,88.4,3,...,97,98.1,20.6,20,10.3,5,103,101,15,2014
8,Bud Dupree,9455,ED,KENTUCKY,12,1,0,202,80.1,8,...,125,89.5,19.2,24,10.8,4,152,136,23,2014
9,Shane Ray,9456,ED,MISSOURI,14,1,0,229,90.8,10,...,135,99.3,22.2,30,14.1,10,149,148,28,2014
10,Shaq Thompson,9458,LB,WASHINGTON,13,1,0,340,74.5,2,...,9,8.8,11.1,1,16.7,1,102,9,2,2014

In [51]:
cleaned_years['player_id'].value_counts

<bound method IndexOpsMixin.value_counts of 0          9436
2          9441
8          9455
9          9456
10         9458
          ...
40213    193183
40218    197022
40224    197860
40225    197863
40227    197882
Name: player_id, Length: 17928, dtype: int64>

In [54]:
true_pass_sets = cleaned_years.loc[cleaned_years['true_pass_set_pass_rush_opp'] > 40]
true_pass_sets['player'].value_counts

<bound method IndexOpsMixin.value_counts of 0         Dante Fowler Jr.
2          Vic Beasley Jr.
8               Bud Dupree
9                Shane Ray
15       Mario Edwards Jr.
               ...
39944       David Santiago
39983          Kyran Duhon
40053        Ira Singleton
40065      Jawaun Campbell
40180          Jaden Davis
Name: player, Length: 4297, dtype: object>

In [64]:
#Groupby player and year and find latest year
draft_year = true_pass_sets.loc[true_pass_sets.groupby('player')['year'].idxmax()]

In [65]:
draft_year.to_csv('pass_rush.csv', index=False)